h1 {
    text-align:center;
}

div.side-menu {
    padding:5px;
    text-align:right;
}

div.form-submit-buttons {
    text-align:right;
}

.btn-nav {
    background-color:#77bb77;
}
.btn-nav:hover {
    background-color:#005500;
    color:#ffffff;
}
