h1, h2 {
    text-align:center;
}

div.form-submit-buttons {
    text-align:right;
}

.btn-nav {
    background-color:#77bb77;
}
.btn-nav:hover {
    background-color:#005500;
    color:#ffffff;
}

.btn-version {
    font-weight:bold;
}

.glyphicon-green {
    color:green;
}

.glyphicon-red {
    color:red;
}

.table-version-calendar th {
    width:14%;
    background-color: #eeeeee;
}
.table-version-calendar ul.versions {
    list-style:none;
    margin:0;
    padding:0;
}